/*
 * efl.css
 * ~~~~~~~~
 *
 *  EFL dark theme stylesheet
 *
 *  Originally based on sphinx13 theme.
 *
 *  All the modification done from the s13 theme are marked with the original
 *  value in a comment, new tags are marked with an empty comment, removed tags
 *  are just commented out.
 *  This is usefull when something looks not so good as the original one to
 *  understand the reason.
 *
 * :copyright: Copyright 2013-2015 by the Python-EFL team, see AUTHORS.
 * :license: LGPL, see COPYING for details.
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    text-align: center;
    /* background-image: url(bodybg.png); */
    background-color: rgb(64,64,64); /* */
    color: white; /*black*/
    padding: 0;
    margin: 0;
}

.pageheader {
    background: url("header_menu_background.png") repeat scroll 0% 0% transparent;
    width: 90%;
    margin: 0 auto 18px auto;
    min-width: 750px;
    max-width: 1080px;
}

.pageheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 63px;
    padding-right: 18px;
    background: url("header_menu_background_last.png") no-repeat scroll right center transparent;

}

.pageheader li {
    float: right;
}

.pageheader li a {
    display: inline-block;
}

.pageheader li a span {
    line-height: 63px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 10px;
    padding: 0px 14px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

.pageheader li.index {
    background: url("header_logo.png") no-repeat scroll 0% 0% transparent;
    float: left;
    height: 63px;
    width: 63px;
}
.pageheader li.maintitle {
    float: left;
    font-size: 26px;
    color: #E6E6C8;
    text-shadow: 0px 0px 6px #39F;
    line-height: 63px;
}
.pageheader li.current a {
    background: url("header_menu_current_background.png") no-repeat scroll 0% 0% transparent;
        padding-left: 12px;
}

.pageheader li.current a span {
    color: rgb(51, 153, 255);
    text-shadow: 0px 0px 10px;
}

div.document {
   /* background-color: white; */
    text-align: left;
    border: 1px solid rgb(111,111,111);
    width: 90%;
    margin: 0 auto;
    min-width: 780px;
    max-width: 1080px;
}

div.bodywrapper {
    margin-right: 240px;
    border-right: 1px solid rgb(111,111,111); /*#0a507a*/
}

div.body {
    padding: 0.5em 20px 20px 20px;
}

div.related {
    font-size: 1em;
    color: white;
    width: 90%;
    margin: 0 auto;
    min-width: 780px;
    max-width: 1080px;
}

div.related ul {
    background-image: url(rel_background.png); /*url(relbg.png)*/
    height: 1.9em;
    border-top: 1px solid rgb(32,32,32); /*#002e50*/
    border-bottom: 1px solid rgb(32,32,32); /*#002e50*/
    margin-top: 6px;
    margin-bottom: 6px;
}

div.related ul li {
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: rgb(249,249,240);
    /* text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); */
}

div.related ul li a:hover {
    color: white;
    /*text-decoration: underline;*/
    /* text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5); */
}

div.sphinxsidebarwrapper {
/* Avoid the buggy moving sidebar
    position: relative;
    top: 0px;
*/
    padding: 0;

}

div.sphinxsidebar {
    margin: 0;
    padding: 0 15px 15px 0;
    width: 210px;
    float: right;
    font-size: 1em;
    text-align: left;
}

div.sphinxsidebar .logo {
    font-size: 1.8em;
    color: rgb(10,80,122);
    font-weight: 300;
    text-align: center;
}

div.sphinxsidebar .logo img {
    vertical-align: middle;
}

div.sphinxsidebar input {
    border: 1px solid rgb(170,170,170);
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 1em;
}

div.sphinxsidebar h3 {
    font-size: 1.5em;
    border-top: 1px solid rgb(111,111,111); /*#0a507a;*/
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

div.sphinxsidebar h4 {
    font-size: 1.2em;
    margin-bottom: 0;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 14px;
    padding-left: 14px;
    color: rgb(51, 153, 255); /*#333*/
    font-weight: 300;
    /*text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.4);*/
}

div.sphinxsidebarwrapper > h3:first-child {
    margin-top: 0.5em;
    border: none;
}

div.sphinxsidebar h3 a {
    color: rgb(51, 153, 255); /*#333*/
}

div.sphinxsidebar ul {
    color: rgb(68,68,68);
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
    list-style-image: url(listitem.png);
}

div.footer {
    background-image: url(footer_background.png); /*url(footerbg.png)*/
    color: rgb(204,204,204);
    text-shadow: 0 0 .2px rgba(255, 255, 255, 0.8);
    padding: 6px; /*3px 8px 3px 0*/
    clear: both;
    font-size: 0.8em;
    text-align: center; /*right*/
    height: 50px; /*3em*/
    margin-top: 18px;
}

/* no need to make a visible link to Sphinx on the Sphinx page */
div.footer a {
    color: rgb(204,204,204);
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0.8em 0 0.5em 0;
}

a {
    color: rgb(170,170,180);
    text-decoration: none;
}

a:hover {
    color: rgb(200,200,210);
    text-shadow: rgb(51, 153, 255) 0px 0px 6px; /* */
}

div.body a {
    text-decoration: underline;
}

h1 {
    margin: 10px 0 0 0;
    font-size: 2.4em;
    color: rgb(51, 153, 255); /*#0A507A*/
    font-weight: 300;
}

h2 {
    margin: 1.em 0 0.2em 0;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
    color: rgb(51, 153, 255); /*#174967*/
    text-shadow: rgb(51, 153, 255) 0px 0px 10px; /* */
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.3em;
    font-weight: 300;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    text-decoration: none;
}

div.body h1 a tt, div.body h2 a tt, div.body h3 a tt, div.body h4 a tt, div.body h5 a tt, div.body h6 a tt {
    color: rgb(51, 153, 255) !important; /*#0A507A*/
    font-size: inherit !important;
}

a.headerlink {
    color: rgb(10,80,122) !important;
    font-size: 12px;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
    float: right;
}

a.headerlink:hover {
    background-color: rgb(204,204,204);
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'DejaVu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
    letter-spacing: -0.02em;
}

code, tt {
    background-color: rgb(51,51,51); /*#f2f2f2*/
    border: 1px solid rgb(32,32,32); /*#ddd*/
    border-radius: 3px;
    color: white; /*#333*/
    padding: 1px;
}

.descname, .descclassname, .xref {
    border: 0;
}

.descname {
    color: rgb(200,200,255);
}

.descclassname {
    color: rgb(160,160,255);
}

/*tt.xref {
    color: rgb(200,200,255);
}*/

hr {
    border: 1px solid rgb(170,187,204);
    margin: 2em;
}

a tt, a code{
    border: 0;
    color: rgb(200,200,170);
}

a tt:hover, a code:hover{
    color: rgb(230,230,200);
}

pre {
    font-family: 'Consolas', 'DejaVu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border-radius: 4px; /*2px*/
    background-color: rgb(51,51,51); /*#f8f8f8*/
    border: 1px solid rgb(32,32,32);/*#ccc*/
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: rgb(248,248,248);
    max-width: 250px;
    float: right;
    padding: 0px 7px;
    border: 1px solid rgb(204,204,204);
    margin-left: 1em;
}

div.topic {
    background-color: rgb(248,248,248);
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px dashed rgb(32,32,32); /*#86989B*/
    border-radius: 12px;
    background-color: rgb(51,51,51); /*#f7f7f7*/
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin-top: 1em;
    padding-top: 0.5em;
    font-weight: bold;
}

div.warning {
    border-color: rgb(101,16,16); /*#940000*/
    background-color: rgb(101,51,51); /*#FFCCCF*/
}

div.warning p.admonition-title {
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

.viewcode-back {
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: rgb(244,222,191);
    border-top: 1px solid rgb(170,204,153);
    border-bottom: 1px solid rgb(170,204,153);
}

dt:target, .highlighted { /* */
    background-color: rgb(251,229,78);
    background-image: url(hilight_background.png);
    border-top: 1px solid rgb(32,32,32);
    border-bottom: 1px solid rgb(32,32,32);
}

div.versionchanged span.versionmodified {
    color: rgb(220,220,160);
    text-shadow: 0px 0px 3px rgba(180,180,120,0.6);
}

div.versionadded span.versionmodified {
    color: rgb(100,220,100);
    text-shadow: 0px 0px 3px rgba(60,180,60,0.6);
}

div.deprecated span.versionmodified {
    color: rgb(220,100,60);
    text-shadow: 0px 0px 3px rgba(180,60,20,0.6);
}

/* box for enumerations */
div#enumerations > div.section {
    border: 1px solid #202020;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 1em;
}

div#enumerations > div.section h3 {
    background-color: #333;
    margin-top: 0;
    padding: 3px;
    font-weight: bold;
}

div#enumerations > div.section dl,
div#enumerations > div.section p {
    padding-left: 3px;
}


/* box for classes */
dd {
    padding-right: 3px;
}

dl.class {
    border: 1px solid #202020;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

dl.class > dt {
    font-size: 1.2em;
    background-color: #333;
    padding: 2px;
}

dl.class > dt em {
    font-size: 0.8em;
}

dl.class dt{
    border-bottom: 1px solid #333;
}

/* attributes/properties/methods/etc. */
dl.attribute dd, dl.method dd, dl.data dd {
    padding-left: 6px;
    border-left: 1px solid rgba(200,200,255,0.4);
}

/* -- pygments fix ---------------------------------------------------------- */
.highlight .go {
    color: white !important;
}
